streamlit==1.43.2
pandas==2.1.4
numpy==1.26.4
plotly==6.2.0
simple-salesforce==1.12.6
gspread==6.1.2
google-auth==2.31.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.154.0
requests==2.32.3
python-dateutil==2.8.2
openpyxl==3.0.10
xlrd==2.0.1